.menu-btns {
    display: none;
}

.sidebar {
    display: none;
}

.logo>img {
    width: 151px;
    height: 46px;
    position: relative;
    left: 95px;
    transition: all 0.4s ease;
}

.logo {
    transition: all 0.4s ease;
    position: relative;
    top: 19%;
    left: 0;
    width: 100%;
}

.logo::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 22px;
    width: 90px;
    height: 1px;
    background: #01432b4d;
    transition: all 0.4s ease;
    margin-right: 1rem;
}

.logo::after {
    content: "";
    display: block;
    position: absolute;
    right: -255px;
    bottom: 22px;
    width: 100%;
    height: 1px;
    background: #01432b4d;
    transition: all 0.4s ease;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 9999!important;
    transition: all 0.4s ease;
    height: 80px;
    background-image: url("/src/assets/home/firstbg.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.nav-wrapper ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5.5rem;
    position: absolute;
    right: 3%;
    top: 0%;
    transition: all 0.4s ease;
}

.nav-wrapper ul li {
    position: relative;
}

.nav-wrapper ul li:nth-child(4) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.nav-wrapper ul li a {
    text-transform: uppercase;
    position: relative;
    font-weight: 900;
    text-decoration: none;
    color: #01432b;
}

.nav-wrapper ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 100%;
    background: #01432b;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
}

.nav-wrapper ul li a:hover {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.line4 {
    position: absolute;
    top: -59%;
    left: -40%;
}




@media (max-width: 993px) {
    .menu-btns {
        display: block;
    }

    /* .nav-wrapper ul {
        width: 100vw;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        top: 7rem;
        background: url("../../assets/greenbg.svg");
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
    } */

    .nav-wrapper ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        /* top: 7rem; */
        background: url("/src/assets/greenbg.svg");
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: -3%;
        opacity: 0.96;
    }

    .nav-wrapper ul li a {
        text-transform: uppercase;
        /* position: relative; */
        position: absolute;
        z-index: 6;
        color: #fff;
        font-weight: 900;
        text-decoration: none;
        /* color: #01432b; */
    }

    .logo>img {
        left: 229px;
    }

    .logo::after {
        display: none;
    }

    .logo::before {
        display: none;
    }

}